body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.body-bg-primary {
  background-color: #18BC9C;
}

.top-navbar-in {
  animation: zoomIns 0.5s 0.3s 1 ease-in;
  animation-fill-mode: forwards;
}

.top-navbar-out {
  animation: zoomOuts 0.5s 0.3s 1 linear;
  animation-fill-mode: forwards;
}

@keyframes zoomIns {
  from { padding-top: 15px; padding-bottom: 15px}
  to { padding-top: 30px; padding-bottom: 30px; }
}


.section-one, .section-two, .section-three, .section-four, .section-five {
  padding: 100px 0;
}

.image-center {
  padding: 10px 0;
  margin-top: 90px;
}
.image-center > img {
  margin: auto;
  display: block;
}

div.caption > h1 {
  color: #fff;
  font-weight: bold;
  margin-top: 30px;
  font-size: 80px;
}

hr.star {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
  display: block;
}
hr.star-primary {
  border-color: #fff;
}
hr.star-light {
  border-color: #
  border-color: #2C3E50;
}
hr.star-primary:after {
    background-color: #18BC9C;
    color: #fff;
}

hr.star-light:after {
  background-color: #fff;
  color: #2C3E50;
}

hr.star:after {
  content: '\f005';
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  font-size: 2em;
  padding: 0 .25em;
  top: -22px;
}

.caption-portfolio {
  padding: 15px 0;
}


/** SECTION TWO **/
.img-content {
  position: relative;
  overflow: hidden;
  padding: 0;
  opacity: 0;
}
.img-content > .zoomIt {
  background: #18BC9C;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.zoomIt > i {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5em;
  color: #fff;
  transform: translate(-50%, -50%);
}

.img-content:hover .zoomIt {
  visibility: visible;
  opacity: 0.8;
  cursor: pointer;
}

/** SECTION THREE **/
.section-three > h1, .section-three p {
  color: #fff;
}
.section-three > h1 {
  font-size: 50px;
  font-weight: bolder;
}

.section-three p{
  font-size: 20px;
}

/** SECTION FOUR **/
.section-four h1 {
  font-size: 36px;
  font-weight: bolder;
}


/** SECTION FIVE **/
.section-five {
  background-color: #2C3E50;
  padding-bottom: 0;
}
.section-five h3 {
  color: #fff;
  font-weight: bolder;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 35px;
  text-align: center;
}

.section-five p {
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-weight: normal;
}

/** FOOTER **/

.social-icon > .rad {
  border-radius: 100% !important;
}

.footer-copyright {
  margin-top: 100px;
  background-color: #233140;
  bottom: 0;
  padding: 24px 0 18px 0;
}

.footer-copyright p {
  text-align: center;
  font-size: 14px;
}
